
.image-slider {
    position: relative;
    width: 70%; 
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .image-slider img {
    width: 60vw;
    height: 60vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    z-index: 1;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 20px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
  
  .left-button,
  .right-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%); 
    font-size: 4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
  }
  
  .left-button {
    left: 0px;
  }
  
  .right-button {
    right: 0px;
  }
  .description{
    margin-top: 3rem;
    color: black;
    font-size: 18px;
    height: auto !important;
    text-align: center;
  }
  @media (max-width: 1072px) {
    .image-slider {
   
      margin-top: 6rem;
    }
    .image-slider img {
      width: 60vw;
      height: 50vh;
      margin-top: 0rem;
    }
    .left-button,
    .right-button {
      font-size: 2rem;
      transform: translateY(-50px);
    }
    .description{
      margin-top: 1rem;
      font-size: 16px;
    }
    .left-button{
      left: -35px;
    }
    .right-button{
      right: -35px;
    }
    
  }