*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main-Container{
    width: 100%;
    display: flex;
    align-items: center;
}
.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dropdown-container:hover .dropdown {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}


.page-container {
  display: flex;
}

.main {
  flex: 1;
}
.header{
  position: sticky;
  top: 0;
  z-index: 99999;
  width: 100%;
  border-bottom: 1px solid #e7e5e4;
  background-color: rgba(255, 255, 255, 0.795);
  backdrop-filter: blur(10px);
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.logo-icon {
  position: relative;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  border-radius: 9999px;
  background-color: #F9802D;
}
.logo-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  
}
.goog-te-gadget-simple {
  border: none !important;
  background-color: transparent !important;
}
.goog-te-gadget img{
  display: none !important;   
}
.main-nav {
  display: flex;
  gap: 1.5rem;
  padding: 0 10rem;
}
.nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  list-style: none;
  font-family: "Tektur", sans-serif;
  cursor: pointer;
}
.nav-link:hover {
  color: #F9802D;
}
#google_translate_element{
    border: none;
}
.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
}

.icon-small {
  height: 1rem;
  width: 1rem;
}
.nav-btn {
  border-radius: 5px;
  font-size: .9rem;
  font-weight: 500;
  font-family: "Tektur", sans-serif;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.nav-btn-lg {
  padding: 0.75rem 1.5rem;
}

.primary-btn {
  margin: 0;
  background-color:  #F9802D;
  color: #fff;
}

.primary-btn:hover {
  background-color: #ea580c;
}
.sidebar{
  z-index: 99999;
}
@media (max-width: 768px) {
  .header{
    height:3rem;
  }
  .header-container{
    padding: 1.5rem;
    transform: translate(0 , -20px);
    justify-content: space-between;
  }
  .icon{
      text-align: center;
  }
  .logo-icon{
    width: 1.5rem;
    height: 1.5rem;
  }
  .main-nav{
    display: none;
  }
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    margin: 0;
  }


}
