.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    top: 100%;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.sidebar ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    color: #222;
    padding: 0.5rem;
    cursor: pointer;
}
.sidebar ul li{
    padding: 1rem;
    font-weight: bold;
}

