
.wild-text2{
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.fest-content{
    margin: 1rem auto;
}
.wild-text2 img{
    height: 20rem;
    margin: 2rem auto;
    object-fit: cover;
    border-radius: 10px;
}
.info-container{
    margin-top: 4rem;
}
.top-img{
    margin-top: 1rem;
    width: 90%;
    margin: 0 auto;
}
.heading{
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
    color: #333;
    cursor: pointer;
}
.fest-title{
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
    color: #333;
    cursor: pointer;
}
